{% extends "base.html" %}
{% block title %}Formulari 0{% endblock %}
{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="pt-4 ps-5 pe-5 mb-1 border rounded col-md-8" style="background-color: #237A2C;">
                <h1 class="text-light text-center">Formulari de satisfacció</h1>
                <p class="text-light text-center">Benvinguts al formulari de satisfacció de l'activitat realitzada. Esperem que us hagui agradat i ens doneu una bona valoració!</p>
            </div>
            <div class="col-md-2">
                <div class="mt-2">
                    <a href="{{ url_for('login') }}">
                        <button type="button" class="btn btn-success" style="background-color: #237A2C;">
                            LOGIN
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-0 col-md-2">
        </div>
        <div class="col-12 col-md-8 bg-light border rounded border-success">
            <form class="form-horizontal" id="formulari_generic" method="post">
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12 col-md-3">
                        <label class="mb-0 h5" for="name">Nom:</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" class="form-control" id="name" placeholder="Nom" name="name" required>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="second_name">Cognoms:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="second_name" placeholder="Cognoms" name="second_name" required>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="age">Edat:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="age" placeholder="Edat" name="age" required>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="school">Escola/Institut:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="school" placeholder="Escola/Institut" name="school" required>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="course">Curs:</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="custom-select col-md-3" id="course" name="course" required>
                            <option value="" selected>Tria...</option>
                            <option value="1">Infantil</option>
                            <option value="2">Primària</option>
                            <option value="3">Secundària</option>
                            <option value="4">Batxillerat</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="gender">Gènere:</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="custom-select col-md-3" id="gender" name="gender" required>
                            <option value="" selected>Tria...</option>
                            <option value="1">Masculí</option>
                            <option value="2">Femení</option>
                            <option value="3">No definit</option>
                        </select>
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn text-light m-3" style="background-color: #237A2C;">Continua 🢂</button>
                </div>
            </form>
        </div>
        <div class="col-0 col-md-2">
        </div>
    </div>
</div>

<!-- <script>
    function validateMyForm(form) {
        var Curs = document.getElementById('curs').value;
        var Nom = document.getElementById('name').value;
        var Cognoms = document.getElementById('second_name').value;
        var Edat = document.getElementById('age').value;
        var Sexe = document.getElementById('gender').value;

        if (Nom == "" || Cognoms == "" || Edat == "" || Sexe == "" || Curs == ""){
            document.getElementById('alert').classList.remove('d-none');
            return false
        }
        else if(Curs == 1){
            form.action = "infantil.html";
            return true
        }
        else if(Curs == 2){
            form.action = "primaria.html";
            return true
        }
        else if(Curs == 3 || Curs == 4){
            form.action = "secundaria_bat.html";
            return true
        }
        else{
            document.getElementById('alert').classList.remove('d-none');
            return false
        }
    }
</script> -->

{% endblock %}