{% extends "base.html" %}
{% block title %}Formulari 2{% endblock %}
{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="pt-4 ps-5 pe-5 mb-1 border rounded col-md-8" style="background-color: #237A2C;">
                <h1 class="text-light text-center">Formulari de satisfacció</h1>
                <p class="text-light text-center">Benvinguts al formulari de satisfacció de l'activitat realitzada. Esperem que us hagui agradat i ens doneu una bona valoració!</p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-0 col-md-2">
        </div>
        <div class="col-12 col-md-8 bg-light border rounded border-info">
            <form class="form-horizontal" id="formulari_sec_bat" method="post">
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">T’ha semblat interessant l’activitat realitzada?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question1" id="option01" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option01">1</label>
                        
                        <input type="radio" class="btn-check" name="question1" id="option02" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option02">2</label>
                        
                        <input type="radio" class="btn-check" name="question1" id="option03" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option03">3</label>

                        <input type="radio" class="btn-check" name="question1" id="option04" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option04">4</label>
                        
                        <input type="radio" class="btn-check" name="question1" id="option05" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option05">5</label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">Tornaries a realitzar activitats similars si es presenta l’oportunitat?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question2" id="option11" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option11">1</label>
                        
                        <input type="radio" class="btn-check" name="question2" id="option12" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option12">2</label>
                        
                        <input type="radio" class="btn-check" name="question2" id="option13" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option13">3</label>

                        <input type="radio" class="btn-check" name="question2" id="option14" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option14">4</label>
                        
                        <input type="radio" class="btn-check" name="question2" id="option15" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option15">5</label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">Creus que l’enfocament de l’activitat ha estat bo?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question3" id="option21" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option21">1</label>
                        
                        <input type="radio" class="btn-check" name="question3" id="option22" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option22">2</label>
                        
                        <input type="radio" class="btn-check" name="question3" id="option23" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option23">3</label>

                        <input type="radio" class="btn-check" name="question3" id="option24" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option24">4</label>
                        
                        <input type="radio" class="btn-check" name="question3" id="option25" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option25">5</label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">T’ha resultat difícil l’activitat?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question4" id="option31" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option31">1</label>
                        
                        <input type="radio" class="btn-check" name="question4" id="option32" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option32">2</label>
                        
                        <input type="radio" class="btn-check" name="question4" id="option33" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option33">3</label>

                        <input type="radio" class="btn-check" name="question4" id="option34" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option34">4</label>
                        
                        <input type="radio" class="btn-check" name="question4" id="option35" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option35">5</label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">T’agradaria cursar una enginyeria en un futur?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question5" id="option41" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option41">1</label>
                        
                        <input type="radio" class="btn-check" name="question5" id="option42" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option42">2</label>
                        
                        <input type="radio" class="btn-check" name="question5" id="option43" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option43">3</label>

                        <input type="radio" class="btn-check" name="question5" id="option44" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option44">4</label>
                        
                        <input type="radio" class="btn-check" name="question5" id="option45" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option45">5</label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">Com d’important creus que és la tecnologia en l’actualitat?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question6" id="option51" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option51">1</label>
                        
                        <input type="radio" class="btn-check" name="question6" id="option52" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option52">2</label>
                        
                        <input type="radio" class="btn-check" name="question6" id="option53" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option53">3</label>

                        <input type="radio" class="btn-check" name="question6" id="option54" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option54">4</label>
                        
                        <input type="radio" class="btn-check" name="question6" id="option55" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option55">5</label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">Hi hauria d’haver més assignatures i activitats relacionades amb la tecnologia?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question7" id="option61" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option61">1</label>
                        
                        <input type="radio" class="btn-check" name="question7" id="option62" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option62">2</label>
                        
                        <input type="radio" class="btn-check" name="question7" id="option63" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option63">3</label>

                        <input type="radio" class="btn-check" name="question7" id="option64" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option64">4</label>
                        
                        <input type="radio" class="btn-check" name="question7" id="option65" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option65">5</label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">Creus que, generalment, s’utilitzen bé les eines tecnològiques a l’abast?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question8" id="option71" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option71">1</label>
                        
                        <input type="radio" class="btn-check" name="question8" id="option72" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option72">2</label>
                        
                        <input type="radio" class="btn-check" name="question8" id="option73" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option73">3</label>

                        <input type="radio" class="btn-check" name="question8" id="option74" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option74">4</label>
                        
                        <input type="radio" class="btn-check" name="question8" id="option75" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option75">5</label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">Creus que el sector tecnològic està masculinitzat?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question9" id="option81" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option81">1</label>
                        
                        <input type="radio" class="btn-check" name="question9" id="option82" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option82">2</label>
                        
                        <input type="radio" class="btn-check" name="question9" id="option83" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option83">3</label>

                        <input type="radio" class="btn-check" name="question9" id="option84" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option84">4</label>
                        
                        <input type="radio" class="btn-check" name="question9" id="option85" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option85">5</label>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12">
                        <label class="mb-2 h5" for="name">Creus que està canviant aquest fenomen?</label>
                    </div>
                    <div class="btn-group">
                        <input type="radio" class="btn-check" name="question10" id="option91" value="1" autocomplete="off"/>
                        <label class="btn btn-success" for="option91">1</label>
                        
                        <input type="radio" class="btn-check" name="question10" id="option92" value="2" autocomplete="off" />
                        <label class="btn btn-success" for="option92">2</label>
                        
                        <input type="radio" class="btn-check" name="question10" id="option93" value="3" autocomplete="off" />
                        <label class="btn btn-success" for="option93">3</label>

                        <input type="radio" class="btn-check" name="question10" id="option94" value="4" autocomplete="off" />
                        <label class="btn btn-success" for="option94">4</label>
                        
                        <input type="radio" class="btn-check" name="question10" id="option95" value="5" autocomplete="off" checked />
                        <label class="btn btn-success" for="option95">5</label>
                    </div>
                </div>
                <div class="text-end">
                    <button type="submit" class="btn text-light m-3" style="background-color: #237A2C;">Continua 🢂</button>
                </div>
            </form>
        </div>
        <div class="col-0 col-md-2">
        </div>
    </div>
</div>
{% endblock %}