{% extends "base.html" %}
{% block title %}Formulari 3{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-0 col-md-2">
        </div>
        <div class="col-12 col-md-8 bg-light border rounded border-info">
            <p class=" h4 text-center">Moltes gràcies per completar el formulari de satisfacció.</p>
            <p class=" h4 text-center">Esperem que us hagui agradat l'activitat i que torneu molt aviat!</p>
        </div>
        <div class="col-0 col-md-2">
        </div>
    </div>
</div>
{% endblock %}