{% extends "base.html" %}
{% block title %}Gràfics{% endblock %}

{% block header %}
<header style="width: 100%;">
    <div class="container">
        <div class="row text-end">
            <div class="col-md-12 mb-4">
                <div class="mt-2">
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            <div class="row">
                                <b class="border border-success rounded p-1 text-white mx-0" style="background-color: #237A2C;">{{display_email}}</b>
                            </div>
                            <div class="row">
                                <b class="border border-success rounded p-1 text-white mx-0" style="background-color: #237A2C;">{{display_school}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2 px-0">
                            <a href="{{ url_for('login') }}">
                                <button type="button" class="btn btn-success" style="background-color: #237A2C;">
                                    LOGOUT
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container border border-dark border-2 rounded">
    {{ sel_course }}
    {{ gender }}
    {{ sel_school }}
    <form id="filter_form" method="post">
        <div class="row" style="background-color: #237A2C;">
            <div class="col-md-3 mx-0 px-2">
                <div class="col-md-12">
                    <label class="text-dark fw-bold fs-5" for="amount">Rang d'edat:</label>
                    <input class="col-lg-7 text-dark fs-5" type="text" id="amount" readonly style="border:0; font-weight:bold; background-color: #237A2C;">
                </div>
                <div class="mt-2 mb-5 mx-2" id="slider-range"></div>
            </div>
            <div class=" form-group col-md-2 mx-0 px-2">
                <label class="text-dark fw-bold col-12 fs-5" for="genere">Genere:</label>
                <select class="border border-dark rounded" name="genere" id="genere-select" style="background-color: #A9F0BA; min-width: 100%;">
                    <option value="">Tots els generes</option>
                    <option value="Masculí">Masculí</option>
                    <option value="Femení">Femení</option>
                    <option value="No definit">No Definit</option>
                </select>
            </div>
            <div class="form-group col-md-2 mx-0 px-2">
                <label class="text-dark fw-bold col-12 fs-5" for="course">Curs:</label>
                <select class="border border-dark rounded" name="course" id="course-select" style="background-color: #A9F0BA; min-width: 100%;">
                    <option value="">Tots els cursos</option>
                    <option value="Infantil">Infantil</option>
                    <option value="Primària">Primària</option>
                    <option value="Secundària">Secundària</option>
                    <option value="Batxillerat">Batxillerat</option>
                </select>
            </div>
            {{ school_select | safe }}
            <div class="col-md-2 mx-0 px-2 mt-3">
                <button type="submit" class="border rounded border-dark" style="background-color: #A9F0BA">
                    <h4>FILTRA</h4>    
                </button>
            </div>
        </div>
    </form>
    <div class="row" style="background-color: #237A2C;">
        <ul class="nav nav-tabs border-bottom border-dark border-2" id="myTab" role="tablist">
            {{ pri_tab | safe}}
            {{ sec_tab | safe}}
            {{ admin_tab | safe }}
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row" style="background-color: #237A2C;">
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">Estaves impacient per realitzar l’activitat?</h3>
                    <canvas id="myChart1" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">T’ha agradat l’activitat?</h3>
                    <canvas id="myChart2" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">T’hauria agradat tenir més temps?</h3>
                    <canvas id="myChart3" style="background-color: #A9F0BA;"></canvas>
                </div>
            </div>
            <hr style="border-top: 3px solid black;">
            <div class="row" style="background-color: #237A2C;">
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">Ho has trobat fàcil?</h3>
                    <canvas id="myChart4" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">Havies fet robòtica abans?</h3>
                    <canvas id="myChart5" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">Vols repetir una nova activitat com aquesta amb el Qui-Bot?</h3>
                    <canvas id="myChart6" style="background-color: #A9F0BA;"></canvas>
                </div>
            </div>
            <hr style="border-top: 3px solid black;">
            <div class="row mb-4" style="background-color: #237A2C;">
                <div class="col-md-6">
                    <h3 class="text-center" style="min-height: 120px;">TRIA EL TEU JOC PREFERIT:</h3>
                    <canvas id="myChart7" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center" style="min-height: 120px;">QUINA ASSIGNATURA T’AGRADA MÉS AL COLE?</h3>
                    <canvas id="myChart8" style="background-color: #A9F0BA;"></canvas>
                </div>
            </div>
            <hr style="border-top: 3px solid black;">
            <div class="row mb-4">
                <table id="datatable1" class="display text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Cognom</th>
                            <th>Edat</th>
                            <th>Escola</th>
                            <th>Curs</th>
                            <th>Gènere</th>
                            <th>P1</th>
                            <th>P2</th>
                            <th>P3</th>
                            <th>P4</th>
                            <th>P5</th>
                            <th>P6</th>
                            <th>P7</th>
                            <th>P8</th>
                            <th>P9</th>
                            <th>P10</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row" style="background-color: #237A2C;">
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">T’ha semblat interessant l’activitat realitzada?</h3>
                    <canvas id="myChart10" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">Tornaries a realitzar activitats similars si es presenta l’oportunitat?</h3>
                    <canvas id="myChart11" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">Creus que l’enfocament de l’activitat ha estat bo?</h3>
                    <canvas id="myChart12" style="background-color: #A9F0BA;"></canvas>
                </div>
            </div>
            <hr style="border-top: 3px solid black;">
            <div class="row" style="background-color: #237A2C;">
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">T’ha resultat difícil l’activitat?</h3>
                    <canvas id="myChart13" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">T’agradaria cursar una enginyeria en un futur?</h3>
                    <canvas id="myChart14" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">Com d’important creus que és la tecnologia en l’actualitat?</h3>
                    <canvas id="myChart15" style="background-color: #A9F0BA;"></canvas>
                </div>
            </div>
            <hr style="border-top: 3px solid black;">
            <div class="row mb-4" style="background-color: #237A2C;">
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">T’ha resultat difícil l’activitat?</h3>
                    <canvas id="myChart16" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">T’agradaria cursar una enginyeria en un futur?</h3>
                    <canvas id="myChart17" style="background-color: #A9F0BA;"></canvas>
                </div>
                <div class="col-md-4">
                    <h3 class="text-center" style="min-height: 120px;">Com d’important creus que és la tecnologia en l’actualitat?</h3>
                    <canvas id="myChart18" style="background-color: #A9F0BA;"></canvas>
                </div>
            </div>
            <hr style="border-top: 3px solid black;">
            <div class="row mt-3 mb-4">
                <table id="datatable2" class="display text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Cognom</th>
                            <th>Edat</th>
                            <th>Escola</th>
                            <th>Curs</th>
                            <th>Gènere</th>
                            <th>P1</th>
                            <th>P2</th>
                            <th>P3</th>
                            <th>P4</th>
                            <th>P5</th>
                            <th>P6</th>
                            <th>P7</th>
                            <th>P8</th>
                            <th>P9</th>
                            <th>P10</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
            <div class="row mt-3 mb-4">
                <table id="datatable_admin" class="display text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Nom</th>
                            <th>Cognom</th>
                            <th>Escola</th>
                            <th>Gènere</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var myChart1 = new Chart(ctx1, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_inf[0] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    var myChart2 = new Chart(ctx2, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_inf[1] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx3 = document.getElementById('myChart3').getContext('2d');
    var myChart3 = new Chart(ctx3, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_inf[2] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx4 = document.getElementById('myChart4').getContext('2d');
    var myChart4 = new Chart(ctx4, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_inf[3] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx5 = document.getElementById('myChart5').getContext('2d');
    var myChart5 = new Chart(ctx5, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_inf[4] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx6 = document.getElementById('myChart6').getContext('2d');
    var myChart6 = new Chart(ctx6, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_inf[5] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx7 = document.getElementById('myChart7').getContext('2d');
    var myChart7 = new Chart(ctx7, {
        type: "bar",
        data: {
            labels: {{ labels[1] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_inf[6] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx8 = document.getElementById('myChart8').getContext('2d');
    var myChart8 = new Chart(ctx8, {
        type: "bar",
        data: {
            labels: {{ labels[2] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_inf[7] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });


    var ctx10 = document.getElementById('myChart10').getContext('2d');
    var myChart10 = new Chart(ctx10, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_sec[0] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx11 = document.getElementById('myChart11').getContext('2d');
    var myChart11 = new Chart(ctx11, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_sec[1] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx12 = document.getElementById('myChart12').getContext('2d');
    var myChart12 = new Chart(ctx12, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_sec[2] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx13 = document.getElementById('myChart13').getContext('2d');
    var myChart13 = new Chart(ctx13, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_sec[3] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx14 = document.getElementById('myChart14').getContext('2d');
    var myChart14 = new Chart(ctx14, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_sec[4] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx15 = document.getElementById('myChart15').getContext('2d');
    var myChart15 = new Chart(ctx15, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_sec[5] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx16 = document.getElementById('myChart16').getContext('2d');
    var myChart16 = new Chart(ctx16, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_sec[6] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx17 = document.getElementById('myChart17').getContext('2d');
    var myChart17 = new Chart(ctx17, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_sec[7] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    var ctx18 = document.getElementById('myChart18').getContext('2d');
    var myChart18 = new Chart(ctx18, {
        type: "pie",
        data: {
            labels: {{ labels[0] | safe }},
            datasets: [
                {
                    label: "Data points",
                    data: {{ data_sec[8] | safe }},
                    fill: false,
                    backgroundColor: ["red", "yellow", "green", "blue", "orange"],
                    borderColor: "rgb(75, 192, 192)",
                }
            ]
        },
        options: {
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
    $( function() {
        $( "#slider-range" ).slider({
        range: true,
        min: 3,
        max: 19,
        values: [ 3, 19 ],
        slide: function( event, ui ) {
            $( "#amount" ).val(ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        }
        });
        $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) +
        " - " + $( "#slider-range" ).slider( "values", 1 ) );
    });
    
    $(document).ready(function (){
        $('#datatable_admin').DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url': '/datatable_admin'
            },
            "columnDefs": [
                {className: "dt-head-center", targets: [0, 1, 2, 3, 4, 5]}
            ],
            "pageLength": 10,
            'lengthChange': false,
            searching: false,
            sort: false,
            "serverSide": true,
            'columns': [
                { data: 'email' },
                { data: 'name' },
                { data: 'second_name' },
                { data: 'school' },
                { data: 'gender' },
                { data: 'role' },
            ]
        });
    });
    
    $(document).ready(function (){
        $('#datatable2').DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url': '/datatable2'
            },
            "columnDefs": [
                {className: "dt-head-center", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]}
            ],
            "pageLength": 10,
            'lengthChange': false,
            searching: false,
            sort: false,
            "serverSide": true,
            'columns': [
                { data: 'name' },
                { data: 'second_name' },
                { data: 'age' },
                { data: 'school' },
                { data: 'course' },
                { data: 'gender' },
                { data: 'pregunta_1' },
                { data: 'pregunta_2' },
                { data: 'pregunta_3' },
                { data: 'pregunta_4' },
                { data: 'pregunta_5' },
                { data: 'pregunta_6' },
                { data: 'pregunta_7' },
                { data: 'pregunta_8' },
                { data: 'pregunta_9' },
                { data: 'pregunta_10' }
            ]
        });
    });
    
    $(document).ready(function (){
        $('#datatable1').DataTable({
            'processing': true,
            'serverSide': true,
            'serverMethod': 'post',
            'ajax': {
                'url': '/datatable1'
            },
            "columnDefs": [
                {className: "dt-head-center", targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]}
            ],
            "pageLength": 10,
            'lengthChange': false,
            searching: false,
            sort: false,
            "serverSide": true,
            'columns': [
                { data: 'name' },
                { data: 'second_name' },
                { data: 'age' },
                { data: 'school' },
                { data: 'course' },
                { data: 'gender' },
                { data: 'pregunta_1' },
                { data: 'pregunta_2' },
                { data: 'pregunta_3' },
                { data: 'pregunta_4' },
                { data: 'pregunta_5' },
                { data: 'pregunta_6' },
                { data: 'pregunta_7' },
                { data: 'pregunta_8' },
                { data: 'pregunta_9' },
                { data: 'pregunta_10' }
            ]
        });
    });

</script>
{% endblock %}