{% extends "base.html" %}
{% block title %}Formulari 0{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-1">
        <div class="col-0 col-md-2">
        </div>
        <div class="col-12 col-md-8 bg-light border rounded border-info">
            <form class="form-horizontal" id="formulari_generic" method="post">
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-12 col-md-3">
                        <label class="mb-0 h5" for="name">Nom:</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" class="form-control" id="name" placeholder="Nom" name="name">
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="second_name">Cognoms:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="second_name" placeholder="Cognoms" name="second_name">
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="age">Edat:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="age" placeholder="Edat" name="age">
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="school">Escola/Institut:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="school" placeholder="Escola/Institut" name="school">
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="curs">Curs:</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="custom-select col-md-3" id="curs" name="curs">
                            <option selected>Tria...</option>
                            <option value="1">Infantil</option>
                            <option value="2">Primària</option>
                            <option value="3">Secundària</option>
                            <option value="4">Batxillerat</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mt-3 mb-3 row align-items-end">
                    <div class="col-sm-3">
                        <label class="mb-0 h5" for="gender">Gènere:</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="custom-select col-md-3" id="gender" name="gender">
                            <option selected>Tria...</option>
                            <option value="1">Masculí</option>
                            <option value="2">Femení</option>
                            <option value="3">No definit</option>
                        </select>
                    </div>
                </div>
                <div class="alert alert-warning d-none" id="alert">
                    <strong>Warning!</strong> Falten dades per afegir!
                    </div>
                <div class="text-end">
                    <button type="submit" class="btn text-light m-3" style="background-color: #237A2C;">Continua 🢂</button>
                </div>
            </form>
        </div>
        <div class="col-0 col-md-2">
        </div>
    </div>
</div>
{% endblock %}
